{% extends 'home.html'%}
{% load static %}
{% block title_name %}
    视频处理
{% endblock %}
{% block css %}
    <style>
        #div_opera{
            text-align: center;
            width: 20%;
            float: left;
        }
        #div_camera{
            text-align: center;
            height: 600px;
            margin-left: 20px;
            width: 75%;
            float:left;
        }
        #target{
            display:inline;
            width: 640px;
            height: 480px;
            border: 2px solid grey;
        }
    </style>
{% endblock %}
{% block self_content %}
    <div id ="div_opera" class="ui  vertical menu">
    <div class="ui divider"></div>
        <h4 class="ui horizontal divider header">
            <i class="camera icon"></i>
            原始画面
        </h4>
        <div class="column" style="text-align: center">
            <div class="ui ignored toggle animation checkbox">
                <input type="checkbox" name="checkbox" id="camera_switch" />
                <label>开关</label>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="user icon"></i>
            人脸识别
        </h4>
        <div class="column" style="text-align: center">
            <div class="ui ignored toggle animation checkbox">
                <input type="checkbox" name="checkbox" id="face_switch" />
                <label>开关</label>
            </div>
        </div>
    </div>
    <div id="div_camera">
        <div class="ui raised padded  container segment" style="width: 700px;height: 550px">
            <div class="ui top attached label">小车摄像头原画面</div>
            <img id="target" src="/static/plugin/img/cam.jpg" />
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/camera/camera.js' %}"></script>
    <script>
        let PUB_URL ={
            "dataCloseServer": "/camera/close_server/",
        }
    </script>
{% endblock %}