{% extends 'home.html'%}
{% load static %}
{% block title_name %}
    视频处理
{% endblock %}
{% block css %}
    <style>
        #div_camera{
            height: 600px;
            margin-top: 80px;
        }
        #target{
            display:inline;
            margin-top: 20px;
            width: 640px;
            height: 480px;
            border: 2px solid grey;
        }
    </style>
{% endblock %}
{% block self_content %}
    <div id="div_camera">
        <div class="ui raised  container segment" style="width: 700px;height: 550px;margin-bottom: 0;border-radius: 5px 5px 0px 0px;border-bottom: none;text-align: center;background-color: #313335">
            <img id="target" src="/static/plugin/img/cam1.jpg" />
        </div>
        <div class="ui raised container segment top_segment" style="width: 700px;padding-bottom: 0;padding-top: 0;margin-top: 0;border-radius: 0px 0px 5px 5px;border-top: none;background-color: gainsboro">
            <button class="ui button floated left" disabled="disabled"><p style="color: red">视频画面选项：</p></button>
            <button class="ui icon circular basic button cam" value="origin" data-tooltip="原始画面" data-position="bottom center" style="margin-left: 30px;border: gainsboro 1px solid">
                <i class="ui black icon desktop"></i>
            </button>
            <button class="ui icon circular basic button cam" value="face" data-tooltip="人脸识别" data-position="bottom center" style="margin-left: 30px;border: gainsboro 1px solid">
                <i class="ui green icon user"></i>
            </button>
            <button class="ui icon circular basic button cam" value="eyes" data-tooltip="眼部识别" data-position="bottom center" style="margin-left: 30px;border: gainsboro 1px solid">
                <i class="ui green icon eye"></i>
            </button>
            <button class="ui icon circular basic button operate" value="photo" data-tooltip="拍照" data-position="bottom center" style="margin-left: 30px;border: gainsboro 1px solid">
                <i class="ui orange icon camera retro"></i>
            </button>
            <button class="ui icon circular basic button cam" value="close" data-tooltip="关闭" data-position="bottom center" style="margin-left: 30px;border: gainsboro 1px solid">
                <i class="ui red icon close"></i>
            </button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL = {
            'takePhoto': {% url 'car:take_photo' %},
        }
    </script>
    <script src="{% static 'js/camera/camera.js' %}"></script>
{% endblock %}