{% extends 'home.html' %}
{% load  static %}
{% block title_name %}
    代码编辑
{% endblock %}
{% block stylesheet %}
        <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/codemirror.css" %}">
        <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/foldgutter.css" %}">
        <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/show-hint.css" %}">
        <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/lint.css" %}">
        <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/darcula.css" %}">
{% endblock %}
{% block css %}
    <style>
        .contain_size{
            height: 100%;
            padding: 30px;
        }
        .console{
            font-size: 16px;
            color:whitesmoke;
        }
        .result{
            color: darkorange;
            padding-left: 65px;
            font-size: 14px;
            font-family: "微软雅黑";
        }
    </style>
{% endblock %}
{% block self_content %}
    <div class="ui container contain_size">
        <div class="ui clearing segment" style="margin-bottom: 0px;background-color: #3B3E3F;border-radius: 4px 4px 0px 0px;padding: 0px;">
            <button class="ui left floated button" style="background-color:#3B3E3F;color: orange" data-tooltip="编写python代码可选择在本地或者小车上运行" data-position="right center" data-inverted="">编辑代码：</button>
            <div class="ui circular right floated icon basic button" data-tooltip="清空" id="btn_clear" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px" >
                <i class="icon teal trash alternate"></i></div>
            <div class="ui circular right floated icon basic button" data-tooltip="若本地代码死循环，请点此处终止。慎用！" id="btn_stop" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px">
                <i class="icon red stop"></i></div>
            <div class="ui circular right floated icon basic button" data-tooltip="小车运行" id="btn_run_in_car" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px">
                <i class="icon olive forward"></i></div>
            <div class="ui circular right floated icon basic button" data-tooltip="本地运行" id="btn_run" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px">
                <i class="icon green play" id="i_run"></i></div>
            <div class="ui circular right floated icon basic button" data-tooltip="保存代码" id="btn_save" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px">
                <i class="icon orange save"></i></div>
            <div class="ui circular right floated icon basic button" data-tooltip="导入代码" id="btn_import" data-position="bottom right" style="background-color:#3B3E3F;margin-right: 30px">
                <i class="icon yellow folder open"></i></div>
        </div>
        <textarea id="editor"></textarea>
    <div class="ui clearing segment" style="margin-top: 0px;background-color: #313335;border-radius: 0px 0px 0px 0px;height: 22px;padding-top: 0px;margin-bottom: 0px;border-bottom: grey 1px solid">
        <p class="console">Console:</p>
    </div>
        <div class="ui clearing segment" style="margin-top: 0px;background-color: #3B3E3F;border-radius: 0px 0px 4px 4px;height: 130px;padding-top: 0px;overflow: auto">
            <pre class="result" id ='console'></pre>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let CodeURL = {
            'dataCodeRun': '{% url 'car:code_run' %}',
            'dataCodeOperate': '{% url 'car:code_operate' %}',
        }
    </script>
    <script src="{% static 'plugin/js/codemirror.js' %}"></script>
    <script src="{% static 'plugin/js/active-line.js' %}"></script>
    <script src="{% static 'plugin/js/closebrackets.js' %}"></script>
    <script src="{% static 'plugin/js/foldcode.js' %}"></script>
    <script src="{% static 'plugin/js/foldgutter.js' %}"></script>
    <script src="{% static 'plugin/js/indent-fold.js' %}"></script>
    <script src="{% static 'plugin/js/matchbrackets.js' %}"></script>
    <script src="{% static 'plugin/js/show-hint.js' %}"></script>
    <script src="{% static 'plugin/js/sublime.js' %}"></script>
    <script src="{% static 'plugin/js/python.js' %}"></script>
    <script src="{% static 'js/code/code.js' %}"></script>
{% endblock %}