{% extends 'voice/voice.html' %}
{% load static %}
{% block pannel %}
    <div class="ui divider"></div>
    <button class="ui inverted green labeled icon button btnn" id="btn_start" value="voice_recognize_start">
        <i class="play icon"></i> 开始
    </button>
    <button class="ui inverted red labeled icon button btnn" id="btn_stop" value="voice_recognize_stop">
        <i class="stop icon"></i> 停止
    </button>
    <div class="ui divider"></div>
    <div id="countdown" style="display: none"></div>
    <div class="ui stacked segment">
        <pre>{{ params }}</pre>
    </div>
    <input type="hidden" value="{{params}}" id="recognize_params">

{% endblock %}
{% block voice_script %}
    <script>
        let Voice_URL = {
            'dataRecognize':'{% url 'car:voice_recognize'%}'
        }
    </script>
    <script src="{% static 'js/voice/voice_recognize.js' %}"></script>
{% endblock %}