{% extends 'home.html'%}
{% load static %}
{% block css %}
    <style>
        .contain_size{
            height: 100%;
            width: 75%;
            margin-top: 0px;
            padding: 0px;
            text-align: center;
        }


    </style>
{% endblock %}
{% block self_content %}

    <div class="ui container segment contain_size">
        <div class="ui  segment">
            <div class="ui  secondary menu">
                <button class="item btn" value="voice_control">
                    语音控制
                </button>
                <button class="item btn" value="voice_chat">
                    语音对话
                </button>
                <button class="item">
                    语音识别
                </button>
                <button class="item">
                    语音合成
                </button>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        let PUB_URL = {
            'dataCommand': '{% url 'car:get_command' %}',
        }
    </script>
    <script src="{% static 'js/voice/voice.js' %}"></script>
{% endblock %}