{% extends 'voice/voice.html' %}
{% load static %}
{% block title_name %}
    文字对话
{% endblock %}
{% block son_css %}
    <style>
        .text_size{
            height: 300px;
            overflow-y:scroll;
        }
        .font_left{
            text-align: left;
        }
    </style>
{% endblock %}
{% block pannel %}
    <div class="ui attached  segment text_size" id="chat_panel">
    </div>
    <div class="ui bottom attached basic button" tabindex="0">
        <div class="ui fluid left labeled action input">
            <input type="text" placeholder="" id="word">
            <div class="ui green button" id="send">发送</div>
        </div>
    </div>
{% endblock %}
{% block voice_script %}
    <script>
        let Voice_URL = {
            'dataTextChat':'{% url 'car:voice_text_chat'%}',
        }
    </script>
    <script src="{% static 'js/voice/voice_text_chat.js' %}"></script>
{% endblock %}