{% extends 'voice/voice.html' %}
{% load static %}
{% block title_name %}
    录音播放
{% endblock %}
{% block pannel %}
    <div class="ui divider"></div>
    <button class="ui inverted green labeled icon button btn_audio" id="btn_start" value="voice_audio_start">
        <i class="microphone icon"></i> 开始录音
    </button>
    <button class="ui inverted red labeled icon button btn_audio" id="btn_stop" value="voice_audio_stop">
        <i class="stop icon"></i> 停止录音
    </button>
    <button class="ui inverted blue labeled icon button btn_audio" id="btn_play" value="voice_audio_play">
        <i class="play icon"></i> 播放录音
    </button>
    <div class="ui divider"></div>
    <div id="countdown" style="display: none"></div>

{% endblock %}
{% block voice_script %}
    <script>
        let Voice_URL = {
            'dataVoiceAudioPlay':'{% url 'car:voice_audio_play'%}'
        }
    </script>
    <script src="{% static 'js/voice/voice_audio_play.js' %}"></script>
{% endblock %}