{% extends 'voice/voice.html' %}
{% load static %}
{% block son_css %}
    <style>
        .text_size{
            height: 300px;
        }
    </style>
{% endblock %}
{% block pannel %}
    <div class="ui divider"></div>
    <div class="ui fluid action input">
        <input type="text" placeholder="" id="composite_text">
        <div class="ui green button" id="composite">合成</div>
    </div>
    <div class="ui divider"></div>
{% endblock %}
{% block voice_script %}
    <script>
        let Voice_URL = {
            'dataTextComposite':'{% url 'car:voice_text_composite' %}',
        }
    </script>
    <script src="{% static 'js/voice/voice_composite.js' %}"></script>
{% endblock %}