{% extends 'home.html'%}
{% load static %}
{% block title_name %}
    语音技术
{% endblock %}
{% block css %}
    <style>
        .text_size{
            height: 300px;
            overflow-y:scroll;
        }
        .white_{
            color: white;
        }
    </style>
    {% block son_css %}
    {% endblock %}
{% endblock %}
{% block self_content %}
    <div class="ui container segment" style="width: 600px;text-align: center;background-color: #3B3E3F;margin-bottom: 0;margin-top: 80px">
        <div class="ui equal width grid">
            <div class="column"><h4 class="white_">控制对话</h4></div>
            <div class="column"><h4 class="white_">语音识别</h4></div>
            <div class="column"><h4 class="white_">录音播放</h4></div>
            <div class="equal width row" style="padding-top: 0">
                <div class="column">
                    <button class="ui circular orange icon button btn_voice" data-tooltip="语音控制" data-position="bottom center" value="voice_control">
                        <i class="icon car"></i>
                    </button>
                    <button class="ui circular yellow icon button btn_voice" data-tooltip="语音对话" data-position="bottom center" value="voice_chat">
                        <i class="microphone icon"></i>
                    </button>
                </div>
                <div class="column">
                    <button class="ui circular green icon button btnn" id="btn_start_recognize" data-tooltip="开始说话" data-position="bottom center" value="voice_recognize_start">
                        <i class="play icon"></i>
                    </button>
                    <button class="ui circular red icon button btnn" id="btn_stop_recognize" data-tooltip="停止说话" data-position="bottom center" value="voice_recognize_stop">
                        <i class="stop icon"></i>
                    </button>
                </div>
                <div class="column">
                    <button class="ui circular green icon button btn_audio" id="btn_start_audio" data-tooltip="开始录音" data-position="bottom center" value="voice_audio_start">
                        <i class="icon microphone"></i>
                    </button>
                    <button class="ui circular red icon button btn_audio" id="btn_stop_audio" data-tooltip="停止录音" data-position="bottom center" value="voice_audio_stop">
                        <i class="icon microphone slash"></i>
                    </button>
                    <button class="ui circular blue icon button btn_audio" id="btn_play_audio" data-tooltip="播放录音" data-position="bottom center" value="voice_audio_play">
                        <i class="icon music"></i>
                    </button>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header" style="color: white">
            <i class="audio description icon"></i>
            语音合成
        </h4>
        <div class="ui fluid action input">
            <input type="text" placeholder="输 入 文 字  小 车 进 行 语 音 合 成 。。。" id="composite_text">
            <div class="ui green button" id="composite">合成</div>
        </div>
        <h4 class="ui horizontal divider header" style="color: white">
            <i class="language icon"></i>
            文字对话
        </h4>
        <div class="ui attached container segment text_size" id="chat_panel" style="border-bottom: none;border-radius: 5px 5px 0px 0px;">
        </div>
        <div class="ui fluid left labeled action input">
            <input type="text" placeholder="输 入 对 话 文 字 与 小 车 进 行 对 话 。。。" id="word" style="border-radius: 0px 0px 0px 5px;border-top: 1px green solid">
            <button class="ui green button" id="send" style="border-radius: 0px 0px 5px 0px;border-top: 1px green solid">发送</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/voice/voice.js' %}"></script>
{% endblock %}