{% extends 'voice/voice.html' %}
{% load static %}
{% block son_css %}
    <style>
        .text_size{
            height: 600px;
        }
    </style>
{% endblock %}
{% block pannel %}
    <button class="ui inverted green labeled icon button btnn" value="voice_recognize_start">
        <i class="play icon"></i> 开始
    </button>
    <button class="ui inverted red labeled icon button btnn" value="voice_recognize_stop">
        <i class="stop icon"></i> 停止
    </button>
    <div class="ui divider"></div>
    <div id="countdown"></div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL = {
            'dataRecognize':'{% url 'car:voice_recognize'%}'
        }
    </script>
    <script src="{% static ' js/voice/voice_recognize.js' %}"></script>
    <script>
        $('#countdown').timeTo({
            seconds: 10,
            displayHours: false,
            fontSize: 40,
            captionSize: 14,
            theme:'black'
        })
    </script>
{% endblock %}