{% extends 'image/image.html' %}
{% load  static %}
{% block title_name %}
    图像基础操作
{% endblock %}
{% block css %}
    {{ block.super }}
    <style>
        .div_base{
            display: none;
        }
        .small_input{
            width: 60px;
        }
    </style>
{% endblock %}
{% block image_content %}
    <div class="ui divider"></div>
    <button class="ui button btn_base" data-tooltip="获取图像的行、列、尺寸、通道、数据类型、像素数目" data-position="bottom center" value="attribute">图像属性</button>
    <button class="ui button btn_base" data-tooltip="修改像素值看不到明显效果" data-position="bottom center" value="change_pixel">修改像素值</button>
    <button class="ui button btn_base" data-tooltip="图像感兴趣区域" data-position="bottom center" value="img_roi">图像ROI</button>
    <button class="ui button btn_base" value="extended_fillet">扩充填边</button>
    <div class="inline field div_base" id="attribute">
        <div class="ui divider"></div>
        <table class="ui very basic table" style="text-align: center">
            <thead>
            <tr>
                <th>图片格式</th>
                <th>行数</th>
                <th>列数</th>
                <th>尺寸</th>
                <th>通道数</th>
                <th>数据类型</th>
                <th>像素数目</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="suffix"></td>
                <td id="row"></td>
                <td id="col"></td>
                <td id="size"></td>
                <td id="aisle"></td>
                <td id="dtype"></td>
                <td id="pixel"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="inline field div_base" id="change_pixel">
        <div class="ui divider"></div>
        <div class="ui right pointing large label">
            输入修改位置坐标
        </div>
        <div class="ui input small_input">
            <input type="text" placeholder="x" class="coordinate" id="pixel_x">
        </div>
        <div class="ui input small_input">
            <input type="text" placeholder="y" class="coordinate" id="pixel_y">
        </div>
        <button class="ui circular icon paigusu button" data-tooltip="选择修改后的像素值" data-position="bottom center">
            <i class="icon paint brush"></i>
        </button>
        <button class="circular ui icon green button" data-tooltip="确认" data-position="bottom center" id="btn_change_pixel">
            <i class="icon check"></i>
        </button>
        <button class="circular ui icon red button" data-tooltip="清除" data-position="bottom center" id="btn_clear_pixel">
            <i class="icon close"></i>
        </button>
        <div class="inline field" style="margin-top: 10px" id="div_pixel">
            <div class="ui blue labels">
                <a class="ui large label">
                    修改前的像素值
                    <div class="detail" id="old_pixel"></div>
                </a>
                <a class="ui large label">
                    修改后的像素值
                    <div class="detail" id="new_pixel"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="inline field div_base" id="img_roi">
        <div class="ui divider"></div>
        <div class="inline field">
            <div class="ui right pointing large orange label">
                截取矩形RO I像素点行数（x轴）范围
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="start" class="coordinate_show" id="pixel_x1">
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="end" class="coordinate_show" id="pixel_x2">
            </div>
            <div class="ui right pointing large orange label">
                截取矩形RO I像素点列数（y轴）范围
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="start" class="coordinate_show" id="pixel_y1">
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="end" class="coordinate_show" id="pixel_y2">
            </div>
            <button class="ui orange button" data-tooltip="必须填写截取矩形ROI范围"
                    data-position="bottom center" id="btn_show_roi">显示ROI</button>
            <button class="ui icon red button" data-tooltip="清除" data-position="bottom center" id="btn_clear_roi1">
                <i class="icon close"></i>
            </button>
        </div>
        <div class="inline field" style="padding-top: 10px">
            <div class="ui right pointing large green label">
                移动目标位置像素点行数（x轴）范围
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="start" class="coordinate_move" id="pixel_x3">
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="end" class="coordinate_move" id="pixel_x4">
            </div>
            <div class="ui right pointing large green label">
                移动目标位置像素点列数（y轴）范围
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="start" class="coordinate_move" id="pixel_y3">
            </div>
            <div class="ui input small_input">
                <input type="text" placeholder="end" class="coordinate_move" id="pixel_y4">
            </div>
            <button class="ui green button" data-tooltip="必须填写截取ROI范围和移动目标位置范围"
                    data-position="bottom center" id="btn_move_roi">移动ROI</button>
            <button class="ui icon red button" data-tooltip="清除" data-position="bottom center" id="btn_clear_roi2">
                <i class="icon close"></i>
            </button>
        </div>
    </div>
    <div class="inline field div_base" id="extended_fillet">
        <div class="ui divider"></div>
        <div class="ui right pointing large orange label">
            输入边界值大小（四边采用相同值）
        </div>
        <div class="ui input small_input">
            <input type="text" placeholder="start" id="side">
        </div>
        <button class="ui green button" data-tooltip="生成主要的五种类型边界"
                data-position="bottom center" id="btn_boundary">生成边界</button>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        let ImgBaseUrl = {
            'dataImgBase': '{% url 'car:image_base'%}',
        }
    </script>
    <script src="{% static 'js/image/image_base.js' %}"></script>
{% endblock %}
