{% extends 'image/image.html' %}
{% load  static %}
{% block title_name %}
    图像读取
{% endblock %}
{% block image_content %}
    <div class="ui divider"></div>
    <button class="ui circular inverted brown button show_btn" value="gray_img" data-tooltip="必须先进行读入操作" data-position="bottom center">灰度读入</button>
    <button class="ui circular inverted red button show_btn" value="color_img" data-tooltip="必须先进行读入操作" data-position="bottom center">彩色读入</button>
    <button class="ui circular icon black button show_btn before_btn" value="flip_level" data-tooltip="水平翻转" data-position="bottom center">
        <i class="exchange icon"></i>
    </button>
    <button class="ui circular icon black button show_btn before_btn" value="flip_vertical" data-tooltip="垂直翻转" data-position="bottom center">
        <i class="retweet icon"></i>
    </button>
    <button class="ui circular icon black button show_btn before_btn" value="flip_level_vertical" data-tooltip="水平垂直翻转" data-position="bottom center">
        <i class="redo alternate icon"></i>
    </button>
    <button class="ui circular inverted blue button show_btn before_btn" data-tooltip="显示读入的图片" data-position="bottom center" value="show_img">
        显示图片</button>
    <button class="ui circular inverted green button show_btn before_btn" data-tooltip="保存读入的图片" data-position="bottom center" value="save_img">
        保存图片</button>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        let ImgShowUrl = {
            'dataImgShow': '{% url 'car:image_show'%}',
        }
    </script>
    <script src="{% static 'js/image/image_show.js' %}"></script>
{% endblock %}
