{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'plugin/img/zksp.ico' %}" type="image/x-icon" />
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/semantic.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/timeTo.css" %}">
    <title>{% block title_name %}主页{% endblock %}</title>
</head>
<style>
    html,body{height:100%;overflow:hidden;}
    #main_menu{
        text-align: center;
        margin-bottom: 0px;
    }
</style>
{% block css %}
{% endblock %}
<body>
<div class="ui inverted pointing menu" id="main_menu">
    <div class="ui container">
        <div class="header item"><h4>AI 智能小车</h4></div>
        <a href="{% url 'car:control' %}" class="item">
            <i class="large gamepad icon"></i>运动控制
        </a>
        <a href="{% url 'car:voice' %}" class="item">
            <i class="large microphone icon"></i>语音技术
        </a>
        <a href="{% url 'car:camera' %}" class="item">
            <i class="large video icon"></i>视频处理
        </a>
        <a href="{% url 'car:image' %}" class="item">
            <i class="large image icon"></i>图像识别
        </a>
        <a href="{% url 'car:code' %}" class="item">
            <i class="large keyboard icon"></i>代码编辑
        </a>
    </div>
</div>
{% block self_content %}
{% endblock %}
</body>
{% block js %}
    <script src="{% static 'plugin/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'plugin/js/semantic.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'plugin/js/jquery.time-to.js' %}"></script>
{% endblock %}
{% block script %}
{% endblock %}
</html>