{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link rel="shortcut icon" href="{% static 'plugin/img/zksp.ico' %}" type="image/x-icon" />
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/semantic.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/timeTo.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/bootstrap-table.min.css" %}">

    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/codemirror.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/foldgutter.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/show-hint.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/lint.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/darcula.css" %}">
    <link rel="stylesheet"  type="text/css" href="{% static "plugin/css/eclipse.css" %}">
    {% block stylesheet %}
    {% endblock %}
    <title>{% block title_name %}主页{% endblock %}</title>
</head>
<style>
    html,body{height:100%;overflow: auto;background-image:url("{% static 'plugin/img/bg1.jpg' %}")}
    #main_menu{
        text-align: center;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    body{
        min-width:1200px;
        overflow:auto;//当页面的可视区域的宽度小于页面设置的最小宽度的时候，出现滚动条
    }
    .text_center{
        text-align: center;
    }
</style>
{% block css %}
{% endblock %}
<body>
<div class="ui inverted pointing menu" id="main_menu">
    <input type="hidden" id="device_state" value="{{ device_state }}">
    <div class="ui container">
        <div class="header item"><h4>AI 实验平台</h4></div>
        <a href="{% url 'car:control' %}" class="item">
            <i class="large gamepad icon"></i>运动控制
        </a>
        <a href="{% url 'car:voice' %}" class="item">
            <i class="large microphone icon"></i>语音技术
        </a>
        <a href="{% url 'car:camera' %}" class="item">
            <i class="large camera retro icon"></i>视频识别
        </a>
        <a href="{% url 'car:code' %}" class="item">
            <i class="large keyboard icon"></i>代码编辑
        </a>
        <a href="{% url 'car:img_page' %}" class="item">
            <i class="large image icon"></i>图像处理
        </a>
        <a href="{% url 'car:py3_introduce' %}" class="item">
            <i class="large python icon"></i>机器学习
        </a>
        <div class="right menu">
            <div class="ui item" id="device_state_outline">
                <h4 style="color: red">
                    <i class="rss red icon"></i>设备未建立连接</h4>
            </div>
            <div class="ui item" id="device_state_online" style="display: none">
                <h4 style="color: green">
                    <i class="rss green icon"></i>设备建立连接 设备号： {{ device_id }}</h4>
            </div>
        </div>
    </div>
</div>
{% block line%}
    <script src="{% static 'plugin/js/canvas-nest.js' %}"></script>
{% endblock %}
{% block self_content %}
{% endblock %}
</body>
{% block js %}
    <script src="{% static 'plugin/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'plugin/js/semantic.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'plugin/js/jquery.time-to.js' %}"></script>
    <script src="{% static 'plugin/js/paigusu.min.js' %}"></script>
    <script src="{% static 'plugin/js/bootstrap-table.min.js' %}"></script>
    <script>
        let SHARE_URL= {
            'closeCameraClient':'{% url 'car:close_camera_client' %}',
            "dataCommand":"{% url 'car:get_command' %}",
        }
    </script>
    <script src="{% static 'plugin/js/codemirror.js' %}"></script>
    <script src="{% static 'plugin/js/active-line.js' %}"></script>
    <script src="{% static 'plugin/js/closebrackets.js' %}"></script>
    <script src="{% static 'plugin/js/foldcode.js' %}"></script>
    <script src="{% static 'plugin/js/foldgutter.js' %}"></script>
    <script src="{% static 'plugin/js/indent-fold.js' %}"></script>
    <script src="{% static 'plugin/js/matchbrackets.js' %}"></script>
    <script src="{% static 'plugin/js/show-hint.js' %}"></script>
    <script src="{% static 'plugin/js/sublime.js' %}"></script>
    <script src="{% static 'plugin/js/python.js' %}"></script>
{% endblock %}
{% block script %}
{% endblock %}
{% block voice_script %}
{% endblock %}
</html>