{% extends 'home.html' %}
{% load  static %}
{% block title_name %}
    人工智能实验平台
{% endblock %}
{% block css %}
    <style>
        .text_center{
            text-align: center;
        }
        #target{
            width: 640px;
            height: 480px;
            border: none;
        }
        .explain{
            font-size: 15px;
            font-family: 微软雅黑;
        }
    </style>
{% endblock %}
{% block self_content %}
    <div class="ui container" style="width: 1000px;height: 800px;margin-top: 80px">
        <div class="ui segment" style="width: 643px;height: 710px;float: left;padding:0;margin-top: 0;margin-bottom:0;
        border-radius: 5px 0px 0px 5px;border:3px solid skyblue;border-right:none;">
            <div class="column" style="text-align: center;height: 38px;background-color: #E8E8E8">
                <h3 style="padding-top: 6px;color:teal">小 车 摄 像 头 原 始 画 面</h3>
            </div>
            <img id="target" class="ui centered image"/>
            <div class="column" style="text-align: center;height: 40px;background-color: lightgray;padding-top:10px;">
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="camera_switch"/>
                    <label> 开 关 </label>
                </div>
            </div>
            <div class="column" style="height: 146px;background-color: #E8E8E8;padding-top:0;">
                <div class="ui divided selection list">
                    <a class="item explain">
                        <div class="ui red horizontal label">注 意</div>
                        小车需先连接设备，设备号见车身标签，连接设备后才可对小车进行操作。
                    </a>
                    <a class="item explain">
                        <div class="ui orange horizontal label">注 意</div>
                        鼠标指向按钮，会出现操作提示。打开键盘控制，可按键控制小车行动。
                    </a>
                    <a class="item explain">
                        <div class="ui yellow horizontal label">键 位</div>
                        |<strong style="color: black"> W ：前进</strong>
                        |<strong style="color: black"> S ： 后退</strong>
                        |<strong style="color: black"> A ： 左转 </strong>
                        |<strong style="color: black"> D ： 右转 </strong>
                        |<strong style="color: black"> Q ： 旋转 </strong>
                        |<strong style="color: black"> E ： 停止 </strong>
                    </a>
                    <a class="item explain">
                        <div class="ui orange horizontal label">注 意</div>
                        物体跟随时使用摄像头，暂时无法打开摄像头画面
                    </a>
                </div>
            </div>
        </div>
        <div class="ui segment" style="width: 240px;height: 710px;float: left;margin-top: 0;margin-bottom:0;border-radius: 0px 5px 5px 0px;
        border: 3px solid skyblue;border-left: none;background-color: #E8E8E8;">
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="sign-in green icon"></i>
                连接设备
            </h4>
            <div class="column" style="text-align: center">
                <div class="ui action input">
                    <input type="text" placeholder="请输入设备号" style="width: 120px;" id="device_id">
                    <button class="ui compact green button" id="btn_connect">连 接</button>
                </div>
            </div>
{#            <h4 class="ui horizontal divider header" style="margin: 13px">#}
{#                <i class="wifi orange icon"></i>连接 wifi#}
{#            </h4>#}
{#            <div class="column" style="text-align: center">#}
{#                <button class="ui circular orange button" id="wifi_settings" disabled="disabled">#}
{#                    配 置#}
{#                </button>#}
{#            </div>#}
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="recycle orange icon"></i>
                物体跟随
            </h4>
            <div class="column" style="text-align: center;" >
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="follow_switch" />
                    <label>O F F / O N</label>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="map signs red icon"></i>
                避障模式
            </h4>
            <div class="column" style="text-align: center;" >
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="avoid_switch" />
                    <label>O F F / O N</label>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="retweet orange icon"></i>
                循迹模式
            </h4>
            <div class="column" style="text-align: center;" >
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="travel_switch" />
                    <label>O F F / O N</label>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="keyboard outline icon"></i>
                键盘控制
            </h4>
            <div class="column" style="text-align: center">
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="keyboard_switch" />
                    <label>O F F / O N</label>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="car blue icon"></i>
                行动控制
            </h4>
            <div class="ui relaxed grid text_center" style="padding-left: 30px;padding-right: 30px">
                <div class="equal width row">
                    <div class="column">
                        <button class="ui circular blue icon button btn" data-tooltip="前进 （W）" data-position="bottom center" value="car_forward">
                            <i class="arrow up icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui circular blue icon button btn" data-tooltip="后退 （S）" data-position="bottom center" value="car_backward">
                            <i class="arrow down icon"></i>
                        </button>
                    </div>
                </div>
                <div class="equal width row" style="padding-top: 0;">
                    <div class="column">
                        <button class="ui circular blue icon button btn" data-tooltip="左转 （A）" data-position="bottom center" value="car_right">
                            <i class="arrow left icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui circular blue icon button btn" data-tooltip="右转 （D）" data-position="bottom center" value="car_left">
                            <i class="arrow right icon"></i>
                        </button>
                    </div>
                </div>
                <div class="equal width row" style="padding-top: 0;">
                    <div class="column">
                        <button class="ui circular green icon button btn" data-tooltip="旋转 （Q）" data-position="bottom center" value="car_rotate">
                            <i class="undo icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui circular red icon button btn" data-tooltip="停止 （E）" data-position="bottom center" value="car_stop">
                            <i class="stop icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin: 13px">
                <i class="video blue icon"></i>
                摄像头控制
            </h4>
            <div class="ui relaxed grid text_center" style="padding-left: 30px;padding-right: 30px">
                <div class="equal width row">
                    <div class="column">
                        <button class="ui icon circular blue button btn" value="car_cam_down" data-tooltip="向上" data-position="bottom center" style="border: gainsboro 1px solid">
                            <i class="arrow up icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui icon circular blue button btn" value="car_cam_up" data-tooltip="向下" data-position="bottom center">
                            <i class="arrow down icon"></i>
                        </button>
                    </div>
                </div>
                <div class="equal width row" style="padding-top: 0px">
                    <div class="column">
                        <button class="ui icon circular blue button btn" value="car_cam_right" data-tooltip="向左" data-position="bottom center">
                            <i class="arrow left icon"></i>
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui icon circular blue button btn" value="car_cam_left" data-tooltip="向右" data-position="bottom center">
                            <i class="arrow right icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui mini modal" style="width: 400px">
        <div class="header text_center">小车wifi配置</div>
        <div class="content text_center">
            <div class="column">
                <div class="ui left icon input">
                    <input type="text" placeholder="请 输 入 名 称" id="wifi_name" class="wifi">
                    <i class="wifi icon"></i>
                </div>
            </div>
            <div class="column" style="padding-top: 10px">
                <div class="ui left icon input">
                    <input type="text" placeholder="请 输 入 密 码" id="wifi_pwd" class="wifi">
                    <i class="keyboard icon"></i>
                </div>
            </div>
        </div>
        <div class="actions text_center">
            <button class="ui primary button" id="set_wifi">配置</button>
            <button class="ui cancel button">取消</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL = {
            "setWifi":"{% url 'car:set_wifi' %}",
            "connectMqtt":"{% url 'car:connect_mqtt' %}",
        }
    </script>
    <script src="{% static 'js/control/control.js' %}"></script>
{% endblock %}