{% extends 'home.html' %}
{% load  static %}
{% block title_name %}
    运动控制
{% endblock %}
{% block css %}
    <style>
        .text_center{
            text-align: center;
        }
        #target{
            width: 640px;
            height: 480px;
            border: none;
        }
    </style>
{% endblock %}
{% block self_content %}
        <div class="ui container" style="width: 1000px;height: 600px;padding-top: 50px;">
            <div class="ui segment" style="width: 643px;height: 522px;float: left;padding:0;margin-top: 0;margin-bottom:0;border-radius: 5px 0px 0px 5px;border:3px solid teal;border-right:none;">
                <div class="ui bottom attached label text_center" style="border-radius: 0;margin-top: 0">
                    <div class="ui ignored toggle animation checkbox">
                        <label>摄像头开关</label>
                        <input type="checkbox" id="camera_switch" />
                    </div>
                </div>
                <img id="target" class="ui centered image" />
            </div>
            <div class="ui segment" style="width: 220px;height: 522px;float: left;margin-top: 0;margin-bottom:0;border-radius: 0px 5px 5px 0px;border: 3px solid teal;border-left: none;background-color: #E8E8E8;">
                <h4 class="ui horizontal divider header red" id="device_state">
                    <i class="rss red icon"></i>
                    当前设备离线
                </h4>
                <h4 class="ui horizontal divider header">
                    <i class="sign-in green icon"></i>
                    连接设备
                </h4>
                <div class="column" style="text-align: center">
                    <div class="ui action input">
                        <input type="text" placeholder="请输入设备号" style="width: 120px;">
                        <button class="ui compact green button" id="btn_connect">连接</button>
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                    <i class="car blue icon"></i>
                    行动控制
                </h4>
                <div class="ui relaxed grid text_center" style="padding-left: 30px;padding-right: 30px">
                    <div class="equal width row">
                        <div class="column">
                            <button class="ui circular blue icon button btn" data-tooltip="前进" data-position="bottom center" value="car_forward">
                                <i class="arrow up icon"></i>
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui circular blue icon button btn" data-tooltip="后退" data-position="bottom center" value="car_backward">
                                <i class="arrow down icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="equal width row" style="padding-top: 0;">
                        <div class="column">
                            <button class="ui circular blue icon button btn" data-tooltip="左转" data-position="bottom center" value="car_left">
                                <i class="arrow left icon"></i>
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui circular blue icon button btn" data-tooltip="右转" data-position="bottom center" value="car_right">
                                <i class="arrow right icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="equal width row" style="padding-top: 0;">
                        <div class="column">
                            <button class="ui circular green icon button btn" data-tooltip="旋转" data-position="bottom center" value="car_rotate">
                                <i class="undo icon"></i>
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui circular red icon button btn" data-tooltip="停止" data-position="bottom center" value="car_stop">
                                <i class="stop icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                    <i class="video orange icon"></i>
                    摄像头控制
                </h4>
                <div class="ui relaxed grid text_center" style="padding-left: 30px;padding-right: 30px">
                    <div class="equal width row">
                        <div class="column">
                            <button class="ui icon circular orange button btn" value="car_cam_down" data-tooltip="向上" data-position="bottom center" style="border: gainsboro 1px solid">
                                <i class="arrow up icon"></i>
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui icon circular orange button btn" value="car_cam_up" data-tooltip="向下" data-position="bottom center">
                                <i class="arrow down icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="equal width row" style="padding-top: 0px">
                        <div class="column">
                            <button class="ui icon circular orange button btn" value="car_cam_right" data-tooltip="向左" data-position="bottom center">
                                <i class="arrow left icon"></i>
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui icon circular orange button btn" value="car_cam_left" data-tooltip="向右" data-position="bottom center">
                                <i class="arrow right icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL = {
            "dataCommand":"{% url 'car:get_command' %}",
            "connectDevice":"{% url 'car:connect_device' %}",
        }
    </script>
    <script src="{% static 'js/control/control.js' %}"></script>
{% endblock %}