{% extends 'ML/ML.html' %}
{% load static %}
{% block title_name %}
    Python 简介
{% endblock %}
{% block css %}
    {{ block.super }}
    <style>
        .max{
            width: 100%;
            height: auto;
        }

        .min{
            width: 30%;
            height: auto;
        }

    </style>
{% endblock %}
{% block navigation %}
    <a class="lab_left" href="{% url 'car:py3_environment' %}">
        <i class="chevron left icon"></i>Python3 环境安装</a>
    <a class="lab_right">
        Python3 环境安装<i class="chevron right icon"></i></a>
{% endblock %}
{% block base_panel %}
    <h2 class="title">Python 基础学习</h2>
    <div class="ui divider"></div>
    <div class="ui item">
        <div class="middle aligned content">
            <h5 class="ui horizontal divider header">
                <i class="tag blue icon"><strong class="subtitle">学习目标</strong></i></h5>
            <div class="description">
                <p>Python 主要的技术学习要点和预期目标如下表。</p>
            </div>
            <table class="ui celled structured compact table">
                <thead>
                <tr>
                    <th style="width: 15%" class="center aligned">阶段</th>
                    <th style="width: 40%" class="center aligned">主要内容</th>
                    <th class="center aligned">学习目标</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="1">Python 初级阶段</td>
                        <td class="center aligned">语法基础，函数，字符串解析，
                            时间和日历，文件操作，正则表达式，
                            设计模式，异常，模块，内置函数</td>
                        <td class="center aligned">1、掌握Python基础编程语法和基础算法；<br>2、建立起编程思维，锻炼逻辑思维能力。</td>
                    </tr>
                    <tr>
                        <td rowspan="1">Python 进级阶段</td>
                        <td class="center aligned"> OOP面向对象，Python特性，函数式编程，进程，线程，协程，网络编程，数据库</td>
                        <td class="center aligned"> 1、掌握python进阶连接编程，能进行面向对象设计；<br>2、掌握常见通信协议，实现网络间点对点通信；<br>3、掌握常用数据库操作，熟练编写SQL语句。</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui divider"></div>
            <h5 class="ui horizontal divider header">
                <i class="tag blue icon"><strong class="subtitle">学习资源</strong></i></h5>
            <div class="description">
                <p class="pnorm">关于Python基础学习，推荐几个比较不错的学习资源。</p>
                <p class="pnorm">
                    <label class="ui red empty circular label"></label><strong class="subtitle">极力推荐!南京大学 Python 学习视频。讲的比较全面，常用的语法和库都有讲解，比较全面的入门课程。</strong><br>
                </p>
                <p class="pnorm">
                    <a href="https://www.icourse163.org/course/0809NJU004-1001571005?from=study">地址 ：https://www.icourse163.org/course/0809NJU004-1001571005?from=study</a>
                </p>
                <p class="pnorm">
                    <label class="ui orange empty circular label"></label><strong class="subtitle">Python2.7 中文文档。</strong><a href="https://docs.python.org/zh-cn/2.7/tutorial/">地址 ：https://docs.python.org/zh-cn/2.7/tutorial/</a>
                </p>
                <p class="pnorm">
                    <label class="ui orange empty circular label"></label><strong class="subtitle">Python3.7 中文文档。</strong><a href="https://docs.python.org/zh-cn/3.7/tutorial/">地址 ：https://docs.python.org/zh-cn/3.7/tutorial/</a>
                </p>
                <p class="pnorm">
                    <label class="ui yellow empty circular label"></label><strong class="subtitle">廖雪峰 Python 学习笔记。对于 Python 基础语法知识讲解比较详细。</strong>
                </p>
                <p class="pnorm">
                    <a href="https://blog.csdn.net/datawhale/article/category/7779959">地址 ：https://blog.csdn.net/datawhale/article/category/7779959</a>
                </p>
                <p class="pnorm">
                    <label class="ui orange empty circular label"></label><strong class="subtitle">Python 练习100例。</strong><a href="https://www.runoob.com/python/python-100-examples.html">地址 ：https://www.runoob.com/python/python-100-examples.html</a>
                </p>
            </div>
            <div class="ui divider"></div>
            <h5 class="ui horizontal divider header">
                <i class="tag blue icon"><strong class="subtitle">知识图谱</strong></i></h5>
            <div class="description">
                <div class="pnorm"><a id="show_img">Python学习路线</a></div>
            </div>
{#            <div style="text-align: center"><img src="{% static 'plugin/img/python_basic.jpg' %}" class="show_img min" title="点击查看大图"></div>#}
        </div>
    </div>
    <div class="ui fullscreen modal" id="python_modal">
        <div class="image content" style="padding: 0">
            <img src="{% static 'plugin/img/python_basic.jpg' %}" class="hide_img max" title="点击关闭图片">
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('#show_img').click(function () {
                $('#python_modal').modal('show');
            });
            $('.hide_img').click(function () {
                $('#python_modal').modal('hide');
            });
        })
    </script>
{% endblock %}